@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #1f2937;
  background-color: white;
}

body{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
}

.container {
  @apply flex flex-col flex-1    max-w-[1440px]  w-full  px-5 md:px-10 ;
}

.container-navigation {
  @apply flex flex-col   h-[60px] justify-center   max-w-[1990px] w-full px-3 md:px-5  ;
}

.mobile-link {
  @apply bg-gray-50 hover:underline
}


.input-white {
  @apply text-gray-800 h-12 bg-white  border-none  placeholder:text-gray-500 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-gray-100
}

.btn-inverted {
  @apply hover:bg-gray-900 transition hover:text-white bg-white text-[16px] py-5 px-7 font-medium border-2 border-gray-900
}

.btn-black {
  @apply bg-gray-900  transition text-white hover:bg-white hover:text-gray-900 text-[16px] py-5 px-7 font-medium border-2 border-gray-900
}


.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Webkit browsers (e.g., Chrome, Safari) */
}

.custom-scrollbar {
  scrollbar-width: none; /* Hide the scrollbar on Firefox */
}

.custom-scrollbar1::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

.custom-scrollbar1::-webkit-scrollbar-track {
  background: #09090a00;
}

.custom-scrollbar1::-webkit-scrollbar-thumb {
  background: #1f2937;
}

.custom-scrollbar1::-webkit-scrollbar-thumb:hover {
  background: #1f2937;
}

.minus-64px {
  width: calc(100% - 100px);
}

.skeleton {
  background-repeat: no-repeat;
  background-image: 
    /* layer 2: avatar */
    /* white circle with 16px radius */
    radial-gradient(circle 16px, white 99%, transparent 0),
    /* layer 1: title */
    /* white rectangle with 40px height */
    linear-gradient(white 40px, transparent 0),
    /* layer 0: card bg */
    /* gray rectangle that covers whole element */
    linear-gradient(gray 100%, transparent 0);
}

.slide-in {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

/* Slide out animation */
.slide-out {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}