@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #1f2937;
  background-color: white;
}

body{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
}

.container {
  @apply flex flex-col flex-1    max-w-[1440px]  w-full  px-5 md:px-10 ;
}

.container-navigation {
  @apply flex flex-col   h-[60px] justify-center   max-w-[1990px] w-full px-3 md:px-5  ;
}

.mobile-link {
  @apply bg-gray-50 hover:underline
}


.input-white {
  @apply text-gray-800 h-12 bg-white  border-none  placeholder:text-gray-500 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-gray-100
}

.btn-inverted {
  @apply hover:bg-gray-900 transition hover:text-white bg-white text-[16px] py-5 px-7 font-semibold border-2 border-gray-900
}

.btn-black {
  @apply bg-gray-900  transition text-white hover:bg-white hover:text-gray-900 text-[16px] py-5 px-7 font-semibold border-2 border-gray-900
}


.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Webkit browsers (e.g., Chrome, Safari) */
}

.custom-scrollbar {
  scrollbar-width: none; /* Hide the scrollbar on Firefox */
}

.minus-64px {
  width: calc(100% - 100px);
}