@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #1f2937;
  background-color: white;
}

body{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
}

.container {
  @apply flex flex-col flex-1    max-w-[1440px]  w-full  px-5 md:px-10 ;
}

.container-navigation {
  @apply flex flex-col   h-[60px] justify-center   max-w-[1990px] w-full px-3 md:px-5  ;
}

.mobile-link {
  @apply bg-gray-50 hover:underline
}